RewriteEngine On

# Limit access to permitted ip addresses only
RewriteCond %{REMOTE_ADDR} !70\.119\.27\.150
RewriteCond %{REMOTE_ADDR} !132\.170
RewriteRule .* http://med.ucf.edu [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]